* {
	margin: 0;
	padding: 0
}

body,html {
	width: 100%;
	min-width: 1200px
}

body {
	line-height: 24px;
	font-family: "Microsoft YaHei"
}

dd,dl,li,ul {
	list-style: none
}

img {
	border: 0
}

a {
	text-decoration: none;
	color: #333
}

a:hover,body {
	color: #000
}

.font10 {
	font-size: 10px
}

.font12,body {
	font-size: 12px
}

.font14 {
	font-size: 14px
}

.font16 {
	font-size: 16px
}

.font18 {
	font-size: 18px
}

.font20 {
	font-size: 20px
}

.font22 {
	font-size: 22px
}

.font24 {
	font-size: 24px
}

.font26 {
	font-size: 26px
}

.font28 {
	font-size: 28px
}

.font30 {
	font-size: 30px
}

.font32 {
	font-size: 32px
}

.font34 {
	font-size: 34px
}

.font36 {
	font-size: 36px
}

.font38 {
	font-size: 38px
}

.font40 {
	font-size: 40px
}

.font60 {
	font-size: 60px
}

.font70 {
	font-size: 70px
}

.ml5 {
	margin-left: 5px
}

.mt5 {
	margin-top: 5px
}

.mr5 {
	margin-right: 5px
}

.mb5 {
	margin-bottom: 5px
}

.mar5 {
	margin: 5px
}

.pl5 {
	padding-left: 5px
}

.pt5 {
	padding-top: 5px
}

.pr5 {
	padding-right: 5px
}

.pb5 {
	padding-bottom: 5px
}

.pad5 {
	padding: 5px
}

.ml10 {
	margin-left: 10px
}

.mt10 {
	margin-top: 10px
}

.mr10 {
	margin-right: 10px
}

.mb10 {
	margin-bottom: 10px
}

.mar10 {
	margin: 10px
}

.pl10 {
	padding-left: 10px
}

.pt10 {
	padding-top: 10px
}

.pr10 {
	padding-right: 10px
}

.pb10 {
	padding-bottom: 10px
}

.pad10 {
	padding: 10px
}

.ml15 {
	margin-left: 15px
}

.mt15 {
	margin-top: 15px
}

.mr15 {
	margin-right: 15px
}

.mb15 {
	margin-bottom: 15px
}

.mar15 {
	margin: 15px
}

.pl15 {
	padding-left: 15px
}

.pt15 {
	padding-top: 15px
}

.pr15 {
	padding-right: 15px
}

.pb15 {
	padding-bottom: 15px
}

.pad15 {
	padding: 15px
}

.ml20 {
	margin-left: 20px
}

.mt20 {
	margin-top: 20px
}

.mr20 {
	margin-right: 20px
}

.mb20 {
	margin-bottom: 20px
}

.mar20 {
	margin: 20px
}

.pl20 {
	padding-left: 20px
}

.pt20 {
	padding-top: 20px
}

.pr20 {
	padding-right: 20px
}

.pb20 {
	padding-bottom: 20px
}

.pad20 {
	padding: 20px
}

.ml25 {
	margin-left: 25px
}

.mt25 {
	margin-top: 25px
}

.mr25 {
	margin-right: 25px
}

.mb25 {
	margin-bottom: 25px
}

.mar25 {
	margin: 25px
}

.pl25 {
	padding-left: 25px
}

.pt25 {
	padding-top: 25px
}

.pr25 {
	padding-right: 25px
}

.pb25 {
	padding-bottom: 25px
}

.pad25 {
	padding: 25px
}

.ml30 {
	margin-left: 30px
}

.mt30 {
	margin-top: 30px
}

.mr30 {
	margin-right: 30px
}

.mb30 {
	margin-bottom: 30px
}

.mar30 {
	margin: 30px
}

.pl30 {
	padding-left: 30px
}

.pt30 {
	padding-top: 30px
}

.pr30 {
	padding-right: 30px
}

.pb30 {
	padding-bottom: 30px
}

.pad30 {
	padding: 30px
}

.ml35 {
	margin-left: 35px
}

.mt35 {
	margin-top: 35px
}

.mr35 {
	margin-right: 35px
}

.mb35 {
	margin-bottom: 35px
}

.mar35 {
	margin: 35px
}

.pl35 {
	padding-left: 35px
}

.pt35 {
	padding-top: 35px
}

.pr35 {
	padding-right: 35px
}

.pb35 {
	padding-bottom: 35px
}

.pad35 {
	padding: 35px
}

.ml40 {
	margin-left: 40px
}

.mt40 {
	margin-top: 40px
}

.mr40 {
	margin-right: 40px
}

.mb40 {
	margin-bottom: 40px
}

.mar40 {
	margin: 40px
}

.pl40 {
	padding-left: 40px
}

.pt40 {
	padding-top: 40px
}

.pr40 {
	padding-right: 40px
}

.pb40 {
	padding-bottom: 40px
}

.pad40 {
	padding: 40px
}

.ml45 {
	margin-left: 45px
}

.mt45 {
	margin-top: 45px
}

.mr45 {
	margin-right: 45px
}

.mb45 {
	margin-bottom: 45px
}

.mar45 {
	margin: 45px
}

.pl45 {
	padding-left: 45px
}

.pt45 {
	padding-top: 45px
}

.pr45 {
	padding-right: 45px
}

.pb45 {
	padding-bottom: 45px
}

.pad45 {
	padding: 45px
}

.ml50 {
	margin-left: 50px
}

.mt50 {
	margin-top: 50px
}

.mr50 {
	margin-right: 50px
}

.mb50 {
	margin-bottom: 50px
}

.mar50 {
	margin: 50px
}

.pl50 {
	padding-left: 50px
}

.pt50 {
	padding-top: 50px
}

.pr50 {
	padding-right: 50px
}

.pb50 {
	padding-bottom: 50px
}

.pad50 {
	padding: 50px
}

.ml55 {
	margin-left: 55px
}

.mt55 {
	margin-top: 55px
}

.mr55 {
	margin-right: 55px
}

.mb55 {
	margin-bottom: 55px
}

.mar55 {
	margin: 55px
}

.pl55 {
	padding-left: 55px
}

.pt55 {
	padding-top: 55px
}

.pr55 {
	padding-right: 55px
}

.pb55 {
	padding-bottom: 55px
}

.pad55 {
	padding: 55px
}

.ml60 {
	margin-left: 60px
}

.mt60 {
	margin-top: 60px
}

.mr60 {
	margin-right: 60px
}

.mb60 {
	margin-bottom: 60px
}

.mar60 {
	margin: 60px
}

.pl60 {
	padding-left: 60px
}

.pt60 {
	padding-top: 60px
}

.pr60 {
	padding-right: 60px
}

.pb60 {
	padding-bottom: 60px
}

.pad60 {
	padding: 60px
}

.blk10,.blk15,.blk20,.blk25,.blk30,.blk35 {
	height: 10px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	clear: both
}

.blk15,.blk20,.blk25,.blk30,.blk35 {
	height: 15px
}

.blk20,.blk25,.blk30,.blk35 {
	height: 20px
}

.blk25,.blk30,.blk35 {
	height: 25px
}

.blk30,.blk35 {
	height: 30px
}

.blk35 {
	height: 35px
}

.blk100,.blk40,.blk45,.blk50,.blk60,.blk70,.blk80,.blk90 {
	height: 40px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	clear: both
}

.blk100,.blk45,.blk50,.blk60,.blk70,.blk80,.blk90 {
	height: 45px
}

.blk100,.blk50,.blk60,.blk70,.blk80,.blk90 {
	height: 50px
}

.blk100,.blk60,.blk70,.blk80,.blk90 {
	height: 60px
}

.blk100,.blk70,.blk80,.blk90 {
	height: 70px
}

.blk100,.blk80,.blk90 {
	height: 80px
}

.blk100,.blk90 {
	height: 90px
}

.blk100 {
	height: 100px
}

.lh16 {
	line-height: 16px
}

.lh18 {
	line-height: 18px
}

.lh20 {
	line-height: 20px
}

.lh22 {
	line-height: 22px
}

.lh24 {
	line-height: 24px
}

.lh25 {
	line-height: 25px
}

.lh26 {
	line-height: 26px
}

.lh27 {
	line-height: 27px
}

.lh28 {
	line-height: 28px
}

.lh30 {
	line-height: 30px
}

.lh32 {
	line-height: 32px
}

.lh34 {
	line-height: 34px
}

.lh35 {
	line-height: 35px
}

.lh36 {
	line-height: 36px
}

.lh38 {
	line-height: 38px
}

.lh40 {
	line-height: 40px
}

.lh42 {
	line-height: 42px
}

.lh44 {
	line-height: 44px
}

.lh45 {
	line-height: 45px
}

.lh46 {
	line-height: 46px
}

.lh48 {
	line-height: 48px
}

.lh50 {
	line-height: 50px
}

.lh52 {
	line-height: 52px
}

.lh54 {
	line-height: 54px
}

.lh56 {
	line-height: 56px
}

.lh58 {
	line-height: 58px
}

.lh60 {
	line-height: 60px
}

.lh62 {
	line-height: 62px
}

.lh64 {
	line-height: 64px
}

.lh65 {
	line-height: 65px
}

.lh66 {
	line-height: 66px
}

.lh68 {
	line-height: 68px
}

.lh70 {
	line-height: 70px
}

.lh72 {
	line-height: 72px
}

.lh74 {
	line-height: 74px
}

.lh76 {
	line-height: 76px
}

.lh78 {
	line-height: 78px
}

.lh80 {
	line-height: 80px
}

.lh90 {
	line-height: 90px
}

.lh100 {
	line-height: 100px
}

.cccc {
	color: #ccc
}

.c333 {
	color: #333
}

.c666 {
	color: #666
}

.c999 {
	color: #999
}

.cffe {
	color: #ffea00
}

.cf00 {
	color: red
}

.po_re {
	position: relative
}

.po_ab {
	position: absolute
}

.f_l {
	float: left!important
}

.f_r {
	float: right!important
}

.t_l {
	text-align: left
}

.t_r {
	text-align: right
}

.t_c {
	text-align: center
}

.text-justify {
	text-align: justify
}

.text-nowrap {
	white-space: nowrap
}

.text-lowercase {
	text-transform: lowercase
}

.text-uppercase {
	text-transform: uppercase
}

.text-capitalize {
	text-transform: capitalize
}

.container {
	width: 1200px;
	margin: 0 auto
}

.clear {
	line-height: 0;
	height: 0;
	font-size: 0;
	visibility: hidden
}

.clear,.clearfix {
	clear: both
}

button,input {
	outline: 0!important
}

a.button,button,input.button {
	display: inline-block;
	line-height: 14px;
	padding: 5px 10px;
	font-family: "微软雅黑","宋体";
	color: #666;
	border: 1px solid #dfdfdf;
	background: #f4f4f4;
	white-space: nowrap;
	overflow: visible;
	cursor: pointer;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	zoom: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s
}

a.button:hover,button:hover,input.button:hover {
	background: #fff
}

a.button:focus,button:focus,input.button:focus {
	background: #fbfbfb
}

a.button.red,button.red,input.button.red {
	background: #ec2828;
	color: #fff;
	border: 1px solid #ec2828
}

a.button.red:hover,button.red:hover,input.button.red:hover {
	background: #fe4646
}

a.button.red:focus,button.red:focus,input.button.red:focus {
	background: #fb2c2c
}

a.button.disabled,button.disabled,input.button.disabled {
	background: #dfdfdf;
	color: #fff;
	border: 1px solid #dfdfdf
}

a.button.disabled:hover,button.disabled:hover,input.button.disabled:hover {
	background: #dfdfdf;
	cursor: text
}

a.button.green,button.green,input.button.green {
	background: #3b9f2a;
	color: #fff;
	border-color: #3b9f2a
}

a.button.green:focus,a.button.green:hover,button.green:focus,button.green:hover,input.button.green:focus,input.button.green:hover {
	background: #6caf49
}

a.button.btn-lg,button.btn-lg,input.button.btn-lg {
	padding: 11px 15px;
	font-size: 16px
}

a.button.btn-lgx5,button.btn-lgx5,input.button.btn-lgx5 {
	padding: 16px 25px;
	font-size: 18px
}

a.button.btn-full,button.btn-full,input.button.btn-full {
	width: 100%
}

input[type=password],input[type=text] {
	background: #fff;
	border: 1px solid #dfdfdf;
	padding: 10px 5px;
	vertical-align: middle;
	height: 18px;
	line-height: 18px
}

.head {
	height: 650px;
	background: url("index_01.jpg") no-repeat center 0
}

.head .headbox {
	width: 1200px;
	height: 650px;
	position: relative;
	margin: 0 auto
}

.head .headbox .logo {
	position: absolute;
	left: 55px;
	top: 75px;
	width: 180px;
	height: 55px
}

.head .headbox .logo a {
	display: block;
	height: 55px
}

.head .headbox .header-nav {
	width: 560px;
	height: 40px;
	position: absolute;
	right: 0;
	top: 80px;
	z-index: 10
}

.head .headbox .header-nav>span {
	display: inline-block;
	font-size: 20px;
	line-height: 40px;
	margin-right: 25px;
	cursor: pointer
}

.head .headbox .header-submit {
	width: 300px;
	height: 70px;
	position: absolute;
	top: 514px;
	left: 450px;
	z-index: 10
}

.head .headbox .header-submit button {
	width: 300px;
	height: 70px;
	padding: 0;
	font-size: 30px;
	text-align: center;
	line-height: 30px
}

.hezhuoban {
	padding: 40px 0;
	height: 50px;
	width: 1200px;
	margin: 0 auto;
	clear: both
}

.hezhuoban .elment {
	width: 240px;
	height: 50px;
	float: left;
	background-image: url("../common/images/bot_hez.png");
	background-repeat: no-repeat
}

.hezhuoban .elment.icon1 {
	background-position: 0 -290px
}

.hezhuoban .elment.icon2 {
	background-position: 0 -350px
}

.hezhuoban .elment.icon3 {
	background-position: 0 -410px
}

.hezhuoban .elment.icon4 {
	background-position: 0 -470px
}

.hezhuoban .elment.icon5 {
	background-position: 0 -530px
}

.hezhuoban .elment>a {
	display: block;
	height: 50px
}

.footer_black {
	background: #333;
	color: #999;
	padding-top: 10px;
	padding-bottom: 30px
}

.footer_black .footerbox {
	width: 1200px;
	margin: 0 auto;
	text-align: center
}

.footer_black .footerbox .footernav {
	height: 30px;
	line-height: 30px;
	font-weight: 700
}

.footer_black .footerbox .footernav a {
	margin: 0 10px;
	color: #999
}

.footer_black .footerbox .footernav a:hover,.left-kefu .goto-top a {
	color: #fff
}

.footer_black .footerbox .footcontent {
	padding-bottom: 10px;
	line-height: 18px
}

.footer_black .footerbox .footcontent a {
	color: #999
}

.footer-submit {
	height: 100px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 11;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	padding-top: 27px;
	background: url("001.png") center bottom
}

.footer-submit.close-div {
	bottom: -170px
}

.footer-submit .container {
	height: 100px;
	position: relative
}

.footer-submit .container>.submit-item {
	width: 350px;
	height: 85px;
	float: right;
	margin-top: 8px;
	margin-right: 30px
}

.footer-submit .container>.submit-item .f_l {
	width: 260px;
	height: 85px
}

.footer-submit .container>.submit-item .f_l>span {
	float: left;
	height: 40px;
	display: block
}

.footer-submit .container>.submit-item .f_l>span>input {
	border: 1px solid #f4f4f4;
	height: 18px;
	line-height: 18px;
	padding: 10px 5px;
	font-size: 14px;
	width: 248px;
	display: inline-block;
	vertical-align: middle;
	clear: both;
	float: none;
	background-color: transparent;
	color: #f4f4f4
}

.footer-submit .container>.submit-item .f_l>span>input::-webkit-input-placeholder {
	color: #f4f4f4
}

.footer-submit .container>.submit-item .f_r {
	width: 80px;
	height: 85px
}

.footer-submit .container>.submit-item .f_r button {
	width: 80px;
	height: 85px;
	padding: 0;
	line-height: 20px;
	font-size: 14px;
	background: url("btn1.png")
}

.footer-submit .container>.submit-item .close {
	width: 20px;
	height: 20px;
	display: block;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	position: absolute;
	right: 0;
	top: 5px
}

.left-kefu {
	position: fixed;
	right: 10px;
	top: 120px;
	width: 100px;
	z-index: 999;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	background: url("003-1.png") no-repeat 0 0;
	padding-top: 107px
}

.left-kefu>dl>dd,.left-kefu>ul>li {
	background: #f73d3d;
	height: 35px
}

.left-kefu>ul>li>a {
	display: inline-block;
	color: #fff;
	border-bottom: 1px dashed #ff8e8e;
	width: 80px;
	margin: 0 10px;
	height: 34px;
	line-height: 34px;
	background: url("icon-qq.png") no-repeat right center
}

.left-kefu>ul>li>a.bdn {
	border-bottom: none
}

.left-kefu>dl>dd {
	height: 41px;
	color: #fff;
	padding: 0 5px 5px
}

.left-kefu>dl>dd>p,.left-kefu>dl>dd>span {
	display: block;
	height: 18px;
	line-height: 18px
}

.left-kefu>dl>dd>span {
	background: url("icon-tel.png") no-repeat right center
}

.left-kefu>dl>dd>p {
	border-bottom: 1px dashed #ff8e8e;
	padding-bottom: 5px
}

.left-kefu>dl>dd>p.bdn {
	border: none
}

.left-kefu .bgx {
	background: url("004-1.png") no-repeat;
	height: 18px;
	overflow: hidden;
	display: block
}

.left-kefu .bgxb {
	background: url("005-1.png") no-repeat;
	height: 16px;
	overflow: hidden;
	display: block
}

.left-kefu .goto-top {
	background: #f73d3d;
	height: 35px;
	color: #fff;
	text-align: center;
	line-height: 35px
}

.bg1 {
	background: url("001.jpg") no-repeat center 0 #060505
}

.chuangyi-tab {
	width: 960px;
	height: 80px;
	background-image: url("tab-bg.jpg");
	background-repeat: no-repeat;
	padding-left: 240px
}

.chuangyi-tab span {
	display: block;
	float: left;
	width: 260px;
	height: 60px;
	padding-top: 20px;
	cursor: pointer
}

.chuangyi-tab.active0 {
	background-position: center 0
}

.chuangyi-tab.active1 {
	background-position: center -80px
}

.chuangyi-tab.active2 {
	background-position: center -160px
}

.chuangyi-wrap {
	clear: both
}

.chuangyi-wrap .chuangyi-item {
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 590px;
	background-color: #fff;
	padding-left: 310px;
	padding-right: 30px;
	width: 860px;
	padding-top: 50px
}

.chuangyi-wrap .chuangyi-item.bg1 {
	background-image: url("002.jpg")
}

.chuangyi-wrap .chuangyi-item.bg2 {
	background-image: url("index_07.jpg")
}

.chuangyi-wrap .chuangyi-item.bg3 {
	background-image: url("003.jpg")
}

.chuangyi-wrap .chuangyi-item li {
	width: 360px;
	height: 220px;
	padding: 20px 30px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	box-shadow: 0 0 5px #999
}

.chuangyi-wrap .chuangyi-item li .label-btn {
	clear: both;
	height: 80px;
	padding: 20px 0
}

.chuangyi-wrap .chuangyi-item li .label-btn span {
	display: inline-block;
	border: 1px solid gray;
	color: gray;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	font-size: 16px;
	white-space: nowrap
}

.chuangyi-wrap .chuangyi-item li .button.red {
	background-color: #fff;
	color: #ec2828
}

.chuangyi-wrap .chuangyi-item li .button.red:hover {
	background: #e61717;
	background: -moz-linear-gradient(left,#e61717 0%,#ff4c4c 100%);
	background: -webkit-linear-gradient(left,#e61717 0%,#ff4c4c 100%);
	background: linear-gradient(to right,#e61717 0%,#ff4c4c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61717', endColorstr='#ff4c4c',GradientType=1 );
	color: #fff
}

.video-list {
	clear: both;
	width: 1200px
}

.video-list ul {
	width: 1260px;
	display: block
}

.video-list ul li {
	width: 360px;
	height: 336px;
	float: left;
	margin-right: 60px;
	margin-bottom: 20px;
	background: url("index_09.jpg") no-repeat 0 0;
	padding-top: 14px
}

.video-list ul li em,.video-list ul li>span {
	display: block;
	height: 270px;
	overflow: hidden
}

.video-list ul li>span {
	width: 360px;
	height: 46px;
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 46px;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 16px;
	text-align: center
}

.submit-tow {
	background: url("index_35.jpg") no-repeat center 0;
	height: 499px
}

.submit-tow .submit-tow-item {
	width: 360px;
	margin: 0 auto;
	position: relative
}

.submit-tow .submit-tow-item input {
	width: 340px;
	padding: 20px 10px;
	background-color: transparent;
	font-size: 20px;
	color: #fff
}

.submit-tow .submit-tow-item input::-webkit-input-placeholder {
	color: #fff
}

.submit-tow .submit-tow-item .button {
	width: 360px;
	height: 60px;
	padding: 0;
	font-size: 20px;
	line-height: 20px
}

.layer-item {
	width: 500px;
	margin: 0 auto;
	position: relative
}

.layer-item input {
	border: 1px solid #e9e9e9;
	height: 18px;
	line-height: 18px;
	padding: 15px 5px 15px 30px;
	font-size: 14px;
	width: 313px;
	display: inline-block;
	vertical-align: middle;
	clear: both;
	float: none
}

.layer-item input.icon-m {
	background: url("../common/images/icon-m.jpg") no-repeat 0 center #fff
}

.layer-item input.icon-u {
	background: url("../common/images/icon-u.jpg") no-repeat 0 center #fff
}

.layer-item .button {
	width: 165px;
	height: 50px;
	padding: 0
}

.layer-item .video-item {
	width: 600px;
	height: 410px
}

.left-nav {
	position: fixed;
	left: -100px;
	top: 20%;
	z-index: 100;
	width: 79px;
	background: url("nav_01.png") no-repeat 0 0;
	padding-top: 99px;
	padding-left: 7px;
	padding-right: 14px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

.left-nav .left-nav-item {
	background: url("nav_03.png") repeat-y
}

.left-nav .left-nav-item>span {
	width: 50px;
	height: 40px;
	display: block;
	text-align: center;
	background: #f0eee4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto 10px;
	font-size: 18px;
	line-height: 20px;
	padding: 15px 0;
	cursor: pointer
}

.left-nav .left-nav-item>span.active {
	background: #ffea00;
	color: #e61717
}

.left-nav>span.goto-top {
	background: url("nav_06.png") no-repeat;
	height: 59px;
	display: block;
	cursor: pointer
}/*SUN-FILE GENERATE:2018-4-25 17:0:23*/